<div class="hero d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center  bg-gradient shadow rounded p-4 col-sm-4 row">
        <h1>{{title}}</h1>
        <p class="intro fs-1">Welcome to {{title}}</p>
        <a href="/movies"><button type="submit" class="btn btn-primary">Check the movies</button></a>        
    </div>
</div>
