<div class=" d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center  bg-gradient shadow rounded p-4 col-sm-8">
        <div class="row">
        <hr>
            {{#each movies as |movie|}}
                <div class="col-3">
                    <div class="card mb-4 shadow">
                        <img src="{{movie.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{task.movie}}</h5>
                            <a href="tasks/{{movie.id}}" class="btn btn-primary">See detail</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>